Repository Wellingtonroth/meal-tracker-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

more configs
  .lintstagedrc.json
  eslint.config.js
  nuxt.config.ts
Due: eslint --fix, prettier --write

feat: :wrench:
  eslint.config.js
  nuxt.config.ts
  package-lock.json
  package.json
  public/sw.js
Due: eslint --fix, prettier --write

menu
  assets/styles/_mixins.scss
  assets/styles/_reset.scss
  assets/styles/_variables.scss
  assets/styles/main.scss
  components/navigation/BottomNavigation.vue
  components/navigation/DesktopSidebar.vue
  composables/useActiveLink.ts
  layouts/default.vue
  package-lock.json
  package.json
  pages/meals/index.vue
  pages/reports/index.vue
Due: eslint --fix, prettier --write

update variables.scss
  assets/styles/_variables.scss
Due: prettier --write

default layout
  layouts/default.vue
Due: eslint --fix

navigation desktop
  components/navigation/DesktopSidebar.vue
Due: eslint --fix

bottomnavigaton mobile
  components/navigation/BottomNavigation.vue
Due: eslint --fix

constants navigation
  constants/navigation.ts
Due: eslint --fix

useTheme composable
  composables/useTheme.ts
Due: eslint --fix

types theme
  types/theme.ts
Due: eslint --fix

refactor: :art: update and improove code
  composables/useActiveLink.ts
  plugins/theme.client.ts
  stores/app.ts
Due: eslint --fix

feat: :art: update prettier
  .prettierrc.json
Due: prettier --write

chore: stable pre-commit on Windows
  .gitattributes
Due: none

setting component style
  assets/styles/_variables.scss
  layouts/default.vue
  nuxt.config.ts
  pages/settings/index.vue
Due: eslint --fix, prettier --write

resolve eslint
  components/navigation/BottomNavigation.vue
  components/navigation/DesktopSidebar.vue
  layouts/default.vue
  pages/settings/delete.vue
  pages/settings/index.vue
Due: eslint --fix

bottom navigation
  components/navigation/BottomNavigation.vue
Due: eslint --fix

fix: update styles in DesktopSidebar component
  components/navigation/DesktopSidebar.vue
Due: eslint --fix

wip
  pages/settings/logout.vue
  pages/settings/name.vue
  pages/settings/notifications.vue
Due: eslint --fix

wip
  pages/settings/delete-account.vue
  pages/settings/email.vue
  pages/settings/index.vue
  pages/settings/language.vue
Due: eslint --fix

wip
  pages/settings/password.vue
  pages/settings/theme.vue
  pages/settings/weekly-report.vue
Due: eslint --fix

wip
  locales/en.json
  locales/pt.json
Due: prettier --write

remove stylistic from eslint
  eslint.config.js
Due: eslint --fix

add i18n
  app.vue
  components/navigation/BottomNavigation.vue
  i18n/locales/en-US.json
  i18n/locales/pt-BR.json
  locales/en.json
  locales/pt.json
  nuxt.config.ts
  package-lock.json
  package.json
  pages/index.vue
  pages/settings/delete-account.vue
  pages/settings/index.vue
Due: eslint --fix, prettier --write

wip
  i18n/locales/en-US.json
  i18n/locales/pt-BR.json
  pages/settings/index.vue
Due: eslint --fix, prettier --write

Refactor navigation components to use dynamic i18n labels and improve locale handling
  components/navigation/BottomNavigation.vue
  components/navigation/DesktopSidebar.vue
  constants/navigation.ts
  i18n/locales/en-US.json
  i18n/locales/pt-BR.json
  pages/settings/index.vue
Due: eslint --fix, prettier --write

remove redirect
  nuxt.config.ts
Due: eslint --fix

Update ESLint configuration to enforce self-closing tags for Vue components and disable specific rules
  eslint.config.js
Due: eslint --fix

Add Firebase configuration to runtime settings in nuxt.config.ts
  nuxt.config.ts
Due: eslint --fix

Add Firebase package and update package-lock.json with new dependencies
  package-lock.json
  package.json
Due: prettier --write

Add useAuth composable for authentication management with Pinia store
  composables/useAuth.ts
Due: eslint --fix

Add useEncryption composable for password encryption and key derivation
  composables/useEncryption.ts
Due: eslint --fix

Add authentication middleware to manage user access and redirect to login if not authenticated
  middleware/auth.ts
Due: eslint --fix

Add authentication pages: login, register, home, and auth test components with user state management and styling
  pages/auth-test.vue
  pages/home.vue
  pages/login.vue
  pages/register.vue
Due: eslint --fix

Add Firebase client plugin for app initialization and authentication integration
  plugins/firebase.client.ts
Due: eslint --fix

Add login API endpoint with password decryption and Firebase authentication
  server/api/auth/login.post.ts
Due: eslint --fix

Add registration API endpoint with password decryption and Firebase account creation
  server/api/auth/register.post.ts
Due: eslint --fix

Add Pinia store for authentication management with user state, login, registration, and logout functionalities
  stores/auth.ts
Due: eslint --fix

Update brand name in DesktopSidebar to use internationalization
  components/navigation/DesktopSidebar.vue
Due: eslint --fix

Add app name to localization files and correct dashboard spelling
  i18n/locales/en-US.json
  i18n/locales/pt-BR.json
Due: prettier --write

Fix formatting in app store file by adding missing semicolons for consistency
  stores/app.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: any of: *.{json,md,scss,css,yml,yaml}
